.category-title {
    font-size: 16;
}

.category-title:hover {
    background-color: rgb(220, 223, 225);
}

.note-content {
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
}

.node {
    background-color: lightpink;
    height: 300px;
    width: 200px;
    position: relative;
}

.imm-header {
    background-color: yellow;
    /*height: 3em;*/
}

.imm-footer {
    background-color: blue;
}